<script src="https://smtpjs.com/v3/smtp.js"></script>
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Applications</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Company Applications
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->

  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-0">Company Details</h5>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Description</th>
              <th scope="col">Minerals</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% applications.forEach(r => { %>
            <tr>
              <td><%=r.name%></td>
              <td><%=r.email%></td>
              <td><%=r.phone%></td>
              <td>
                <p><%=r.description%></p>
              </td>
              <td>
                <% r.minerals.forEach(m => { %>
                <li><%=m%></li>
                <% }); %>
              </td>
              <td>
                <a
                  id="approveBtn"
                  data-id="<%=r._id%>"
                  class="btn btn-success text-light"
                >
                  Approve
                </a>
                <a
                  id="deleteBtn"
                  href="/admin/companies/decline/<%=r._id%>"
                  class="btn btn-danger"
                >
                  Decline
                </a>
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // Assuming you have a button with the ID "deleteButton" in your HTML

  const approveBtn = document.querySelector("#approveBtn");

  approveBtn.addEventListener("click", async () => {
    const id = approveBtn.getAttribute("data-id");
    try {
      const response = await fetch(`/admin/companies/approve/${id}`, {
        method: "PUT",
      });

      if (response.ok) {
        const data = await response.json();
        Email.send(data).then((message) => alert(message));
      } else {
        const errorData = await response.json();
        console.error(errorData); // Display error message
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
