<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Messages</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Messages
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->

  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="col-12">
      <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-bs-toggle="tab"
              href="#home"
              role="tab"
              ><span class="hidden-sm-up"></span>
              <span class="hidden-xs-down">Inbox</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab"
              ><span class="hidden-sm-up"></span>
              <span class="hidden-xs-down">All Messages</span></a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
          <div class="tab-pane p-20 active" id="home" role="tabpanel">
            <div class="col-12">
              <% if(unread.length) { unread.forEach(m=> { %>
              <!-- Message -->
              <a href="/admin/messages/<%=m.id%>" class="link border-top">
                <div class="d-flex no-block align-items-center p-10">
                  <span
                    class="btn btn-success btn-circle d-flex align-items-center justify-content-center"
                    ><i class="mdi mdi-calendar text-white fs-4"></i
                  ></span>
                  <div class="ms-2">
                    <h5 class="mb-0"><%=m.name%></h5>
                    <span class="mail-desc"><%=m.title%></span>
                  </div>
                </div>
              </a>
              <% });} %>
            </div>
          </div>
          <div class="tab-pane p-20" id="profile" role="tabpanel">
            <div class="col-12">
              <% if(all.length) { all.forEach(m=> { %>
              <!-- Message -->
              <a href="/admin/messages/<%=m.id%>" class="link border-top">
                <div class="d-flex no-block align-items-center p-10">
                  <span
                    class="btn btn-success btn-circle d-flex align-items-center justify-content-center"
                    ><i class="mdi mdi-calendar text-white fs-4"></i
                  ></span>
                  <div class="ms-2">
                    <h5 class="mb-0"><%=m.name%></h5>
                    <span class="mail-desc"><%=m.title%></span>
                  </div>
                </div>
              </a>
              <% });} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
